In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName("Jupyter").getOrCreate()

25/06/04 18:54:39 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

In [3]:
spark.sql("""show catalogs""").show()

+-------------+
|      catalog|
+-------------+
|        local|
|spark_catalog|
+-------------+

In [12]:
query = """

CREATE TABLE IF NOT EXISTS nyc.taxis
(
  vendor_id bigint,
  trip_id bigint,
  trip_distance float,
  fare_amount double,
  store_and_fwd_flag string
)
PARTITIONED BY (vendor_id);
"""

In [13]:
spark.sql(query).show()

++
||
++
++

In [7]:
spark.sql("""select * from nyc.taxis.refs""").show()

+----+----+-----------+-----------------------+---------------------+----------------------+
|name|type|snapshot_id|max_reference_age_in_ms|min_snapshots_to_keep|max_snapshot_age_in_ms|
+----+----+-----------+-----------------------+---------------------+----------------------+
+----+----+-----------+-----------------------+---------------------+----------------------+

In [14]:
spark.sql("""select * from nyc.taxis.snapshots""").show()

+--------------------+-------------------+---------+---------+--------------------+--------------------+
|        committed_at|        snapshot_id|parent_id|operation|       manifest_list|             summary|
+--------------------+-------------------+---------+---------+--------------------+--------------------+
|2025-06-04 18:55:...|1276368165314882794|     NULL|   append|s3://warehouse/ny...|{spark.app.id -> ...|
+--------------------+-------------------+---------+---------+--------------------+--------------------+

In [8]:
query = """
INSERT INTO nyc.taxis
VALUES (1, 1000371, 1.8, 15.32, 'N'), (2, 1000372, 2.5, 22.15, 'N'), (2, 1000373, 0.9, 9.01, 'N'), (1, 1000374, 8.4, 42.13, 'Y');
"""

In [9]:
spark.sql(query)

25/06/04 18:55:07 WARN HiveConf: HiveConf of name hive.stats.jdbc.timeout does not exist
25/06/04 18:55:07 WARN HiveConf: HiveConf of name hive.stats.retries.wait does not exist
25/06/04 18:55:08 WARN ObjectStore: Version information not found in metastore. hive.metastore.schema.verification is not enabled so recording the schema version 2.3.0
25/06/04 18:55:08 WARN ObjectStore: setMetaStoreSchemaVersion called but recording version is disabled: version = 2.3.0, comment = Set by MetaStore UNKNOWN@172.25.0.5
25/06/04 18:55:09 WARN ObjectStore: Failed to get database global_temp, returning NoSuchObjectException

DataFrame[]

In [10]:
spark.sql("""describe table nyc.taxis""").show()

+--------------------+---------+-------+
|            col_name|data_type|comment|
+--------------------+---------+-------+
|           vendor_id|   bigint|   NULL|
|             trip_id|   bigint|   NULL|
|       trip_distance|    float|   NULL|
|         fare_amount|   double|   NULL|
|  store_and_fwd_flag|   string|   NULL|
|# Partition Infor...|         |       |
|          # col_name|data_type|comment|
|           vendor_id|   bigint|   NULL|
+--------------------+---------+-------+

In [11]:
spark.sql("""select * from nyc.taxis""").show()

+---------+-------+-------------+-----------+------------------+
|vendor_id|trip_id|trip_distance|fare_amount|store_and_fwd_flag|
+---------+-------+-------------+-----------+------------------+
|        1|1000371|          1.8|      15.32|                 N|
|        1|1000374|          8.4|      42.13|                 Y|
|        2|1000372|          2.5|      22.15|                 N|
|        2|1000373|          0.9|       9.01|                 N|
+---------+-------+-------------+-----------+------------------+

In [5]:
spark.sql("""show catalogs""").show()

+-------------+
|      catalog|
+-------------+
|         demo|
|spark_catalog|
+-------------+